# Xcode
build/
DerivedData/
*.xcuserstate

# User data
*.xcuserdata/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Environment
.env
